# Diferencia de salarios entre hombres y mujeres

In [344]:
# librerias
import pandas as pd
from scipy import stats

In [282]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174 entries, 0 to 173
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Apellido         174 non-null    object
 1   Nombre           174 non-null    object
 2   Edad             174 non-null    int64
 3   Género           174 non-null    object
 4   Pais             174 non-null    object
 5   Etnia            174 non-null    object
 6   Fecha_de_inicio  174 non-null    datetime64[ns]
 7   Departamento     174 non-null    object
 8   Posición         174 non-null    object
 9   Salario          174 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(7)
memory usage: 13.7+ KB

In [283]:
data = pd.read_excel('salarios.xlsx',usecols="B:K",skiprows=3)
data.head()

,Apellido,Nombre,Edad,Género,Pais,Etnia,Fecha_de_inicio,Departamento,Posición,Salario
0,Martin,Sandra,30,Femenino,EE.UU.,Asiática,2013-11-11,Ingeniería de Software,Ingeniero de ventas,115460.8
1,Warfield,Sarah,39,Femenino,EE.UU.,Asiática,2015-03-30,TI/SI,Ingeniero de redes Sr.,114816.0
2,Petrowsky,Thelma,33,Femenino,EE.UU.,Asiática,2014-11-10,TI/SI,Administrador de bases de datos,88920.0
3,Boutwell,Bonalyn,30,Femenino,EE.UU.,Asiática,2015-02-16,Oficinas Administrativas,Contador Sr.,72696.0
4,Petingill,Shana,38,Femenino,Australia,Asiática,2012-04-02,Producción,Técnico de producción II,54080.0

### Test de Hipótesis

- El salario masculino promedio es igual al femenino promedio
$$H_0: \mu_m - \mu_f = 0 $$

- El salario masculino promedio difiere al femenino promedio
$$H_1: \mu_m - \mu_f \neq 0$$

#### Cantidad de hombres y mujeres

In [284]:
n_x = len(data[data["Género"]=="Masculino"])
n_y = len(data[data["Género"]=="Femenino"])
print("Existen {} mujeres y {} hombres".format(n_y2,n_x2))

Existen 76 mujeres y 98 hombres

#### Medias de cada salario según género

In [299]:
meanMale=data[data["Género"]=="Masculino"]['Salario'].mean()
meanFemale=data[data["Género"]=="Femenino"]['Salario'].mean()
print("La media de salario para mujeres es {} y la media de hombres es {}".format(meanFemale,meanMale))

La media de salario para mujeres es 65736.91428571429 y la media de hombres es 72300.52631578948

#### Varianza muestral según género

In [345]:
s_x2=data[data["Género"]=="Masculino"]['Salario'].var()
s_y2=data[data["Género"]=="Femenino"]['Salario'].var()
print("La varianza muestral para mujeres es {} y para hombres {}".format(s_y2,s_x2))

La varianza muestral para mujeres es 1097618027.6783504 y para hombres 1241431654.5630314

#### Varianza combinada

$$s_p^2=\dfrac{(n_x - 1)s_x^2 + (n_y - 1)s_y^2}{n_x + n_y - 2}$$

In [346]:
s2p = lambda n_x,n_y,s_x2,s_y2 : ((n_x - 1)*s_x2 + (n_y - 1)*s_y2) / (n_x + n_y-2)

In [347]:
s_2p=s2p(n_x,n_y,s_x2,s_y2)
print("La varianza combinada es {}".format(s_2p))

La varianza combinada es 1160327458.0059729

#### Valor T de varianzas combinadas para la diferencia entre medias

$$T=\dfrac{(\overline{x} - \overline{y})-(\mu_m - \mu_f)}{\sqrt{\dfrac{s_p^2}{n_m} + \dfrac{s_p^2}{n_f}}}$$

In [278]:
T = lambda x,y,u_m,u_f,sp2,n_m,n_f : ((x-y) - (u_m - u_f)) / (((sp2/n_m) + (sp2/n_f))**(1/2))

In [305]:
t = T(meanMale, meanFemale, 0, 0, s_2p,n_x,n_y)
print("El valor t es {}".format(t))

El valor t es 1.2606595770038977

##### Una vez hayamos pasado los 50 grados de libertad, la distribución de la T de Student $\sim$ distribución Normal

#### Calculamos P-value

In [308]:
print("P-value es {}".format(0.209141))

P-value es 0.209141

##### El valor p-value es mayor a todos los niveles comunes de significación por lo tanto no podemos rechazar la hipótesis nula.

## Dividimos ahora a los empleados en dos grupos, menores y mayores a 35 años

### Menores o iguales a 35 años

- El salario masculino promedio es igual al femenino promedio
$$H_0: \mu_m - \mu_f = 0 $$

- El salario masculino promedio difiere al femenino promedio
$$H_1: \mu_m - \mu_f \neq 0$$

#### Cantidad de hombres y mujeres

In [309]:
nx_menor=len(data[(data["Edad"]<=35) & (data["Género"]=='Masculino')])
ny_menor=len(data[(data["Edad"]<=35) & (data["Género"]=='Femenino')])
print("Existen {} mujeres y {} hombres".format(ny_menor,nx_menor))

Existen 46 mujeres y 36 hombres

#### Medias de cada salario según género

In [310]:
meanMale_menor=data[(data["Género"]=="Masculino") & (data["Edad"]<=35)]['Salario'].mean()
meanFemale_menor= data[(data["Género"]=="Femenino") & (data["Edad"]<=35)]['Salario'].mean()
print("La media de salario para mujeres es {} y la media de hombres es {}".format(meanFemale_menor,meanMale_menor))

La media de salario para mujeres es 66775.23478260869 y la media de hombres es 68622.66666666667

#### Varianza muestral según género

In [311]:
sx_menor=data[(data["Género"]=="Masculino") & (data["Edad"]<=35)]['Salario'].var()
sy_menor=data[(data["Género"]=="Femenino") & (data["Edad"]<=35)]['Salario'].var()
print("La varianza muestral para mujeres es {} y para hombres {}".format(sy_menor,sx_menor))

La varianza muestral para mujeres es 1063144850.8574296 y para hombres 1001780107.9222857

#### Varianza combinada

In [312]:
s2p_menor=s2p(nx_menor,ny_menor,sx_menor,sy_menor)
print("La varianza combinada es {}".format(s2p_menor))

La varianza combinada es 1036297775.8233042

#### Valor T de varianzas combinadas para la diferencia entre medias

In [313]:
t_menor = T(meanMale_menor, meanFemale_menor, 0, 0, s2p_menor,nx_menor,ny_menor)
print("El valor t es {}".format(t_menor))

El valor t es 0.2578988417438048

#### Calculamos P-value

In [316]:
print("P-value es {}".format(0.796866))

P-value es 0.796866

##### Prácticamente no hay diferencia salarial entre hombres y mujeres.

### Mayores a 35 años

- El salario masculino promedio es igual al femenino promedio
$$H_0: \mu_m - \mu_f = 0 $$

- El salario masculino promedio difiere al femenino promedio
$$H_1: \mu_m - \mu_f \neq 0$$

#### Cantidad de hombres y mujeres

In [325]:
nx2_mayor=len(data[(data["Edad"]>35) & (data["Género"]=='Masculino')])
ny2_mayor=len(data[(data["Edad"]>35) & (data["Género"]=='Femenino')])
print("Existen {} mujeres y {} hombres".format(nx2_mayor,ny2_mayor))

Existen 40 mujeres y 52 hombres

#### Medias de cada salario según género

In [323]:
meanMale_mayor= data[(data["Género"]=="Masculino") & (data["Edad"]>35)]['Salario'].mean()
meanFemale_mayor= data[(data["Género"]=="Femenino") & (data["Edad"]>35)]['Salario'].mean()
print("La media de salario para mujeres es {} y la media de hombres es {}".format(meanFemale_mayor,meanMale_mayor))

La media de salario para mujeres es 64818.399999999994 y la media de hombres es 75610.6

#### Varianza muestral según género

In [326]:
sx2_mayor=data[(data["Género"]=="Masculino") & (data["Edad"]>35)]['Salario'].var()
sy2_mayor=data[(data["Género"]=="Femenino") & (data["Edad"]>35)]['Salario'].var()
print("La varianza muestral para mujeres es {} y para hombres {}".format(sy2_mayor,sx2_mayor))

La varianza muestral para mujeres es 1147724835.2878428 y para hombres 1464611470.4

#### Varianza combinada

In [327]:
s2p_mayor=s2p(nx2_mayor,ny2_mayor,sx2_mayor,sy2_mayor)
print("La varianza combinada es {}".format(s2p_mayor))

La varianza combinada es 1285042377.1697776

#### Valor T de varianzas combinadas para la diferencia entre medias

In [329]:
t_mayor = T(meanMale_mayor, meanFemale_mayor, 0, 0, s2p_mayor,nx2_mayor,ny2_mayor)
print("El valor t es {}".format(t_mayor))

El valor t es 1.4314922923710793

#### Calculamos P-value

In [333]:
print("P-value es {}".format(0.154109))

P-value es 0.154109

##### Vemos que tampoco se tiene alguna diferencia salarial entre hombres y mujeres.